<h1>Welcome, <%= User.find(session[:user_id]).username %>. Here are all the ideas.</h1>
<% @users.each do |user| %>
<ul>
  <h4><li>All <%= user.username %>'s ideas:</li></h4><br>
  <% user.ideas.each do |idea| %>
  <ul>
    <li>idea title: <%= idea.title %></li>
    <%= link_to "see this idea", user_idea_path(user, idea) %>
  </ul><br>
  <% end %>
</ul>
<% end %>
