<h1>Your Page</h1>
<ul>
<li><%= @user.username %></li>
<li><%= @user.email %></li><br>
<% if @user.id == session[:user_id] || @user.admin %>
<%= link_to "Edit User", edit_user_path(@user) %>
<%= link_to "Delete User", user_path(@user), method: 'delete' %>
<% end %>
